<div class="info-container">
  <a routerLink="/people">
    <img
      class="arrow-back"
      src="../../../assets/svg/back-svgrepo-com.svg"
      alt=""
    />
  </a>
  <div class="list-container">
    <h3 class="property-text">Name:</h3>
    <h3 class="people-text">{{ people.name }}</h3>
    <h3 class="property-text">Gender:</h3>
    <h3 class="people-text">{{ people.gender }}</h3>
    <h3 class="property-text">Birth_year:</h3>
    <h3 class="people-text">{{ people.birth_year }}</h3>
    <h3 class="property-text">Hair_color:</h3>
    <h3 class="people-text">{{ people.hair_color }}</h3>
    <h3 class="property-text">Height:</h3>
    <h3 class="people-text">{{ people.height }}</h3>
    <h3 class="property-text">Mass:</h3>
    <h3 class="people-text">{{ people.mass }}</h3>
  </div>
</div>
