<div class="main-container">
  <div class="top-container">
    <div class="logo-top-container">
      <img class="logo" src="../assets/svg/star-wars-4.svg" alt="" />
    </div>
    <div class="nav-container">
      <div class="nav-items">
        <div class="container">
          <div class="row">
            <div class="col-2" *ngFor="let category of categories">
              <a routerLink="/{{ category }}" class="category" href="">{{
                category
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
